<h1>Create a Night & Day account</h1>

<div class="row">
	<div class="span offset3">
		<%= form_for @user, :url => users_path, :html => {:class => "form"} do |f| %>
		
		<%= f.label :firstname%>
		<%= f.text_field :firstname %>

		<%= f.label :lastname%>
		<%= f.text_field :lastname %>

		<%= f.label :email%>
		<%= f.text_field :email %>

		<%= f.submit "Register" %>

		<%end%>
	</div>
</div>
