<div class="events">
  <div class="event">
  	<ul class="events">
  		<li>
           <%= link_to (image_tag event.photo.url(:large)), event_path(event) %>
           <p><%= event.description %></p>
           <p>Posted by <%= event.user.full_name %></p>
           <p>Date: <%= event.date %></p>
           <p>Time: <%= event.time.to_s %></p>

        </li>
	</ul>
  </div>

</div>